html{
    background-color: black;
    overflow: hidden;
    text-align: center;
}
.mainContainer{
    background-color: black;
}
.gridCell{
    display: inline-grid;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.gridChild{
    max-width: 15vh;
}
.bodyDiv{
    box-shadow: inset 0 0 0 1000px rgba(50,50,50,0.6);
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
.masterContainer{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: auto;
    text-align: center;
    background-color: sandybrown;
    color: black;
}
.search{
    overflow: auto;
    max-height: 250px;
}
.thumbnail{
    max-height: 100px;
}