.mainContainer{
}
.gridChild{
    display: inline-grid;
    width: 4%;
    height: 4%;
    z-index: 1;
    position: relative;
}
.bodyDiv{
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 33%;
    width: 500px;
    border: 3px purple;
    color: white;
    background-color: black;
}
#logo{
    ;
}